%h2 経費申請管理

%table.table.table-striped
  %thead
    %tr
      %th 氏名
      %th 使用日
      %th 金額
      %th 用途
      %th ステータス
      %th 操作
  %tbody
    - @expense_applications.each do |app|
      %tr
        %td= app.user.email
        %td= app.date
        %td= number_to_currency(app.amount, unit: "¥")
        %td= app.purpose
        %td= app.status_i18n
        %td
          - unless app.approved? || app.rejected?
            = button_to "承認", admin_expense_application_path(app, status: :approved), method: :patch, class: "btn btn-success btn-sm"
            = button_to "却下", admin_expense_application_path(app, status: :rejected), method: :patch, class: "btn btn-danger btn-sm"


= link_to '戻る', root_path