%h2 統計ダッシュボード

%h3 休暇申請：月別件数推移
= line_chart @leave_by_month

%h3 経費申請：月別件数推移
= line_chart @expense_by_month

%h3 休暇申請：ステータス別割合
= pie_chart @leave_by_status.transform_keys { |k| LeaveApplication.statuses.key(k)&.humanize || "不明"  }

%h3 経費申請：ステータス別割合
= pie_chart @expense_by_status.transform_keys { |k| ExpenseApplication.statuses.key(k)&.humanize || "不明"  }

= link_to '戻る', root_path