%h1 勤怠管理システム

- if user_signed_in?
  %p ログイン中: #{current_user.email}
  %p ロール: #{current_user.role}
  = link_to 'ログアウト', destroy_user_session_path, method: :delete
- else
  = link_to 'ログイン', new_user_session_path
  = link_to 'サインアップ', new_user_registration_path
