%h1 勤怠管理システム

- if user_signed_in?
  .container
    .row
      %p ログイン中: #{current_user.email}
      %p ロール: #{current_user.role}
      - attendance = current_user.attendances.find_by(date: Date.current)
      %p 本日の打刻は :
      - if attendance&.clock_in.present?
        %p 出勤（#{attendance.clock_in.strftime('%H:%M')}） 
      - else
        %p 未出勤
      - if attendance&.clock_out.present?
        %p 退勤（#{attendance.clock_out.strftime('%H:%M')}）
      - else
        %p 未退勤
      .col-md-6.mb-3
        .card
          .card-body
            %h5.card-title 勤怠打刻
            = button_to "打刻する", attendances_path, class: "btn btn-dark"
      .col-md-6.mb-3
        .card
          .card-body
            = link_to '勤怠履歴を見る', attendances_path, class: "btn btn-outline-secondary mb-2 btn-block"
            = link_to '休暇申請する', new_leave_application_path, class: "btn btn-outline-primary mb-2 btn-block"
            = link_to '経費申請する', new_expense_application_path, class: "btn btn-outline-primary mb-2 btn-block"
            = link_to '勤怠修正申請する', new_attendance_correction_path, class: "btn btn-outline-primary mb-2 btn-block"
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-danger mb-2 btn-block"
            = link_to '休暇申請一覧', leave_applications_path, class: "btn btn-outline-secondary mb-2 btn-block"
            = link_to '経費申請一覧', expense_applications_path, class: "btn btn-outline-secondary mb-2 btn-block"
      - if current_user.admin?
        .col-md-12.mb-3
          .card
            .card-body
              = link_to '休暇申請管理', admin_leave_applications_path, class: "btn btn-outline-secondary mb-2 btn-block"
              = link_to '経費申請管理', admin_expense_applications_path, class: "btn btn-outline-secondary mb-2 btn-block"
              = link_to '勤怠修正申請管理', admin_attendance_corrections_path, class: "btn btn-outline-secondary mb-2 btn-block"
              = link_to '統計ダッシュボード', admin_dashboard_path, class: "btn btn-outline-dark mb-2 btn-block"
- else
  = link_to 'ログイン', new_user_session_path
  = link_to 'サインアップ', new_user_registration_path