<div class="card shadow-sm">
  <div class="card-header d-flex justify-content-between align-items-center">
    <time datetime="<%= start_date.strftime('%Y-%m') %>" class="h5 mb-0"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></time>
    <nav>
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "btn btn-outline-primary btn-sm me-2" %>
      <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, class: "btn btn-outline-secondary btn-sm me-2" %>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "btn btn-outline-primary btn-sm" %>
    </nav>
  </div>

  <div class="card-body p-0">
    <table class="table table-bordered mb-0 text-center calendar">
      <thead class="table-light">
        <tr>
          <% [0, 1, 2, 3, 4, 5, 6].each do |wday| %>
            <th><%= t('date.abbr_day_names')[wday] %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: "#{calendar.td_classes_for(day)} align-middle" do %>
                <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<style>
  .calendar td {
    width: 100px; 
    height: 80px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }
</style>
