!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AttendanceManagementApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = javascript_importmap_tags
    %script{src: "https://cdn.jsdelivr.net/npm/chart.js"}
    %script{src: "https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"}
    %script{src: "https://cdn.jsdelivr.net/npm/chartkick/dist/chartkick.js"}

    :javascript
      document.addEventListener("turbo:load", function() {
        if (typeof Chartkick !== "undefined") {
          Chartkick.eachChart(function(chart) {
            chart.redraw();
          });
        }
      });   
    - if notice
      .alert.alert-info= notice
    - if alert
      .alert.alert-danger= alert
  %body
    %div.container.mt-5
      = yield
